{% extends 'base.html' %}
{% set title = '联考评分' %}
{% set active_page = 'problems' %}

{% block extra_head %}
<link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/bootstrap-star-rating/4.1.2/css/star-rating.min.css"
    rel="stylesheet">
<link href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.min.css"
    rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ui toggle checkbox" style="display: inline-flex">
    <input type="checkbox" id="practice">
    <label for="practice">Practice Mode</label>
</div>
<span class="ui basic circular icon label">
    <i class="question circle icon"></i>
</span>
<div class="ui toggle checkbox" style="display: inline-flex;margin-right: 20px;">
    <input type="checkbox" id="median">
    <label for="median">Use Median</label>
</div>
<div class="ui toggle checkbox" style="display: inline-flex;margin-right: 20px;">
    <input type="checkbox" id="hideUnrated">
    <label for="hideUnrated">Hide Unrated Ratings</label>
</div>
<div class="ui dropdown right labeled icon button" style="display: inline-flex;">
    <div class="text">Sort By</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="javascript:sortProblems(0)">比赛</a>
        <a class="item" href="javascript:sortProblems(5)">知识点难度</a>
        <a class="item" href="javascript:sortProblems(1)">思维难度</a>
        <a class="item" href="javascript:sortProblems(2)">实现难度</a>
        <a class="item" href="javascript:sortProblems(3)">综合难度</a>
        <a class="item" href="javascript:sortProblems(4)">质量</a>
    </div>
</div>
<div class="ui dropdown right labeled icon button" style="display: inline-flex;">
    <span class="text">选择课程</span>
    <i class="dropdown icon"></i>
    <div class="menu" id="dropdown-choosecourse">
        {% for group in course_groups %}
        <div class="item">
            <i class="dropdown icon"></i>
            {{ group.label }}
            <div class="menu">
                {% for entry in group.entries %}
                <a class="item" href="javascript:init({{ entry.id }});">{{ entry.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<table class="ui celled table" style="width:100%; margin-top: 1em;" id="maint">
    <thead>
        <tr>
            <th>Contest</th>
            <th id="typename">Problems</th>
            <th id="knowledge">知识点难度</th>
            <th>标签</th>
            <th id="thinking">思维难度</th>
            <th id="implementation">实现难度</th>
            <th id="difficulty">综合难度</th>
            <th id="quality">质量</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="problems"></tbody>
</table>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/circle.js') }}"></script>
<script>
    window.__DEFAULT_COURSE_ID__ = {{ default_course_id | tojson }};
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}