{% extends 'base.html' %}
{% set title = '联考评分 - Register' %}
{% set active_page = 'register' %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/bootstrap-star-rating/4.1.2/css/star-rating.min.css" rel="stylesheet">
<link href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 class="ui header">注册流程</h2>
<div class="ui segment">
    <p>欢迎各位 OIFC 联考学生参与本题目评分系统。为确保评分的公正与有效，我们需对您的身份进行审核。</p>
    <p>您需提供洛谷 UID 以完成认证。我们承诺，在此过程中不会收集与认证无关的任何信息。</p>
    <p>管理员将根据您提交的洛谷 UID 及相关认证信息进行审核，通常无需等待过长时间。</p>
    <p>因技术原因，认证通过后可能不会第一时间通知您。</p>
    <p>如您认为认证被遗漏或需申诉，请及时联系管理员（songhongyi, 10circle, henrytb, le0n, xcyle, myee）。</p>
    <p>请注意，管理员有权拒绝身份存疑、疑似小号或恶意注册的申请。如您提出申诉，管理组将与您进一步沟通。</p>
    <p>继续操作即表示您已阅读并同意上述内容，并同意注册本站账号。</p>
</div>
<h3 class="ui dividing header">验证说明</h3>
<div class="ui info message">
    <ul class="list">
        <li>请您点击 <a id="copycode">复制代码</a> 复制一段 Javascipt 脚本并在已登录的洛谷主页执行。</li>
        <li>具体来说，您应该使用 <kbd>F12</kbd> 打开控制台，并在 Console 中粘贴。</li>
        <li>执行这段代码会创建一个填有包括您洛谷 ID 的云剪贴板并返回其 ID。您需要将它复制到下面的输入框中。</li>
        <li>请注意，您填写的洛谷 UID 必须和创建剪贴板（即执行脚本）的用户相同。</li>
        <li>这一验证旨在确定您确为填写的洛谷用户。这会帮助我们确认身份。</li>
    </ul>
</div>
<h3 class="ui dividing header">注册表单</h3>
<form class="ui form" action="{{ url_for('register') }}" method="post">
    <div class="two fields">
        <div class="field">
            <label for="username">用户名</label>
            <input required type="text" name="username" placeholder="您的用户名" value="{{ request.form.get('username','') }}">
        </div>
        <div class="field">
            <label for="password">密码</label>
            <input required type="password" name="password" placeholder="您的密码">
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label for="luoguid">洛谷 UID</label>
            <input required type="text" name="luoguid" placeholder="您的洛谷 UID" value="{{ request.form.get('luoguid','') }}">
        </div>
        <div class="field">
            <label for="pasteid">剪贴板 ID</label>
            <input required type="text" name="pasteid" placeholder="您的云剪贴板 ID" value="{{ request.form.get('pasteid','') }}">
        </div>
        <div class="field">
            <label for="info">留言</label>
            <input required type="text" name="info" placeholder="真实姓名 &amp; 学校" value="{{ request.form.get('info','') }}">
        </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input required type="checkbox" name="read" {% if request.form.get('read') %}checked{% endif %}>
            <label>我已阅读并同意 <a href="{{ url_for('legal') }}" target="_blank">使用条款和隐私条款</a></label>
        </div>
    </div>
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <button class="ui primary button" type="submit">注册</button>
</form>
<code id="code" style="display: none">
(async function () {
    try {
        await fetch('https://www.luogu.com.cn/paste/new', {
            'headers': {
                'content-type': 'application/json;charset=UTF-8',
                'x-csrf-token': document.getElementsByName('csrf-token')[0].content,
                'x-requested-with': 'XMLHttpRequest'
            },
            'referrer': `https://www.luogu.com.cn/user/${_feInstance.currentUser.uid}`,
            'referrerPolicy': 'strict-origin-when-cross-origin',
            'body': `{"data":"联考评分用户验证: ${_feInstance.currentUser.uid}","public":true}`,
            'method': 'POST',
            'mode': 'cors',
            'credentials': 'include'
        }).then(res => res.json()).then(res => {
            let input = confirm(`您的验证剪贴板编号为：${res.id}，点击确定以复制。`);
            if (input) {
                var node = document.createElement('input');
                node.value = res.id;
                document.body.appendChild(node);
                node.select();
                document.execCommand('Copy');
                node.style.display = 'none';
            }
        });
    } catch (e) {
        console.error(e);
        alert('好像哪里有点问题\n' + e.toString());
    }
})();
</code>
{% endblock %}

{% block extra_scripts %}
<script>
    $('#copycode').click(function () {
        var node = document.createElement('textarea');
        node.value = $('#code').text();
        document.body.appendChild(node);
        node.select();
        document.execCommand('Copy');
        node.style.display = 'none';
        alert('已复制到剪贴板');
    });
    $('.ui.checkbox').checkbox();
</script>
{% endblock %}
